<?xml version="1.0" encoding="UTF-8"?>
	<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:b="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.0.xsd
                            http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 
     <http auto-config="false" use-expressions="true" entry-point-ref="authenticationEntryPoint">
        <!-- 		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="customFilter" /> -->
        
		<custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER"/>
        <intercept-url pattern="/login.jsf" filters="none"/>
		
		<intercept-url pattern="/index.jsf" access="hasRole('index.jsf')" />
		<intercept-url pattern="/testeacesso.jsf" access="hasRole('testeacesso.jsf')"/>
	</http>
  

<!-- 	<b:bean class="cobra.controleacesso.web.filter.CustomFilter" id="customFilter"/> -->
	<b:bean class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter" id="authenticationFilter" p:authenticationManager-ref="customAuthenticationManager"/>

	<!-- Custom authentication manager. In order to authenticate, username and password must not be the same -->
 	<b:bean class="cobra.controleacesso.web.manager.CustomAuthenticationManager" id="customAuthenticationManager"/>
	
	<!-- The AuthenticationEntryPoint is responsible for redirecting the user to a particular page, like a login page,
 			whenever the server sends back a response requiring authentication -->
 	<!-- See Spring-Security Reference 5.4.1 for more info -->
 	<b:bean id="authenticationEntryPoint"  class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint" p:loginFormUrl="/login.jsf"/>
	<!-- The tag below has no use but Spring Security needs it to autowire the parent property of 
			org.springframework.security.authentication.ProviderManager. Otherwise we get an error 
			A probable bug. This is still under investigation-->
	<authentication-manager/>


</b:beans>
